* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #060ab2;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    margin-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    /* aplicando efeito de flip */
    transition: transform .5s;
}

/* Efeito ao clicar */

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1c7ccc;
    /* Esconde a parte da frente do card */
    backface-visibility: hidden;
}

/* Girando a parte da frente para ser mostrado */

.front-face {
    transform: rotateY(180deg);
}